<div class="jumbotron">
  <h1>Hello, Hello!</h1>
  <p class="lead">
    <img id="train-logo" src="images/train.png" alt="I'm Yeoman"><br>
    Always a pleasure to get a new certificate.
  </p>
  <p>
  <!-- <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#login-modal" role="button">Login</a> -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Login</button>

    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login to Your Account</h1><br>
          <form>
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>

          <div class="login-help">
            <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
  </p>
</div>

<div class="row marketing">
  <h4>HTML5 Certificate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular Certificate</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma Certificate</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
